
.skills {
    padding: 50px 15px;
    text-align: center
}

h2.skills  {
    color: var(--brand-heading-color);
    margin-bottom: 50px
}

.skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px
}

.skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: var(--brand-heading-color);
    background: var(--skill-pill-background-color);
    list-style: none;
    cursor: default;
    font-size: 1.2em
}