
.entry {
    padding: 75px 15px;
    border-bottom: 1px solid #dcd9d9
}

.entry h2 {
    color: #374054
}

.entry .heading:after {
    background: 0 0
}

.entry p {
    color: #6c7882;
    margin: 1.25em 0
}

.entry:nth-child(2n+3) {
    background: #f2f2f5
}

.entry:nth-child(2n+3) p {
    color: #434a50
}

.entry:nth-child(2n+3) a {
    color: #266cab
}
